/* src/styles/MainContent.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure these elements take the full viewport height */
  overflow: hidden; /* Prevent any unnecessary scrolling on the root level */
}

* {
  box-sizing: border-box; /* Include padding/border in element size */
}

.main-content {
  padding: 80px 24px 24px; /* Adjust padding to avoid overlap with the fixed header */
  background-color: #f9f9f9;
  transition:
    margin-left 0.3s ease,
    margin-right 0.3s ease;
  flex: 1; /* Allows main content to take up available space */
  overflow-y: auto; /* Allow scrolling within the content if needed */
  height: calc(
    100vh - 60px
  ); /* Adjust height to fit within viewport minus the header height */
  overflow-y: auto;
}

.main-content.shifted {
  margin-left: 255px; /* Shift by the width of the LeftSidebar */
}

.main-content.shifted-left {
  margin-right: 290px;
}

.add-task-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-button:hover {
  background-color: #45a049;
}
