.right-sidebar {
  margin-top: 70px;
  width: 280px;
  height: 100%;
  background-color: #ebf3eb;
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 1000;
  overflow-y: auto; /* Make the sidebar vertically scrollable */
  overflow-x: hidden;
}

.right-sidebar.open {
  transform: translateX(0);
}

.right-sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-content {
  margin-top: 20px;
  flex: 1;
}

.section {
  margin-top: 16px;
  align-items: center;
  background-color: #ebf3eb;
  margin-bottom: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for rows */
}

.toggle-button {
  display: flex;
  align-items: center;
  width: 100%; /* Full width to match the section */
  margin-bottom: 10px;
  padding: 16px 16px; /* Same padding as .section */
  background-color: #ebf3eb; /* Match the section background */
  border: none; /* Remove border */
  font-size: 14px;
  font-weight: 500; /* Ensure consistent font weight */
  text-align: left; /* Align text to the left */
  border-radius: 8px; /* Same rounded corners as .section */
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.toggle-button:hover {
  background-color: #ebf3eb;
}

.expandable {
  overflow: hidden;
  max-height: 0;
  transition:
    max-height 0.5s ease,
    padding 0.5s ease;
}

.expandable.expanded {
  max-height: 300px; /* Adjust this value based on content size */
  padding: 10px 16px;
}

.expandable.collapsed {
  max-height: 0;
  padding: 0;
}
